.image-background {
  background-image: url("/images/home-background.png");

  .home-board {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    width: 100%;
    padding: 6rem 8rem;
    margin: 15rem auto 8rem;
    border-radius: 2rem;
    background-color: rgba(255, 255, 255, 0.025);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(15px);

    .btn-play {
      background: linear-gradient(
        39deg,
        rgba(254, 207, 89, 1),
        rgba(255, 241, 204, 1)
      );
    }
  }
}
